.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.modal-body {
  height: 200px
}

.btn {
  width: 400px;
  margin-bottom: 50px;
}

.display {
  margin-top: 30px;
}

label {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 150px
}

input {
  display: inline-block;
  float: left;
  margin-bottom: 15px;
}

.formContent {
  display: flex;
  flex-direction: column
}

.formFields {
  margin-bottom: 15px;
}

.submitButton {
  margin: auto;
}

.showInput {
  margin-top: 60px;
}
